<div class="col-xs-12">
<div class="admin-container">

<% if current_user.admin %>
  <h3>Admin Panel</h3>

<div class="admin-block">
  Total Users: <span class = "solid" ><%= @totalusercount %></span>
</div>
    <div class="admin-block">
  <% if @users.any? %>
    <% @users.each do |user| %>

  <% if user.admin %>
      <div class="admin-title">Admin</div>
  <% end %>
      Name: <span class = "solid" ><%= user.username %></span>  |
      Email:  <span class = "solid" ><%= user.email %></span>  |
      Joined: <span class = "solid" ><%= user.created_at.strftime("%b %d, %Y") %></span>  |
      Pictures: <span class = "solid" ><%= user.pictures.count %></span> |
      Events: <span class = "solid" ><%= user.events.count %></span> <br>
      <%= link_to "Delete User", admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" } %>
      <hr>
    <% end %>
  <% end %>
  <% else %>
    <h3>You do not have access. Please sign in.</h3>
  <% end %>
</div>
</div>
</div>
