<div class="col-xs-12">
  <div class="flex-container">
    <div class="flex-block">

        <h3>Forgot your password?</h3>

          <div class="well">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, :class => "form-control", autofocus: true %>
              </div>
              <div class="actions center">
                <%= f.submit "Reset" , :class => "btn-lg btn-primary" %>
              </div>
            <% end %>
            <hr><br>
            <%= render "devise/shared/links" %>
          </div>

    </div><!-- flex-block end -->
  </div><!-- flex-container end -->
</div><!-- col end -->
