<div class="col-xs-12">
  <div class="flex-container">
    <div class="flex-block">

      <% if @events.any? %>
        <h3 class="center">Events</h3>
        <% @events.each do |event| %>
          <div class="well">
            <div class="flex-container-events">
              <div class="flex-block-events">
                <div class="btn event-text">
                  <%= link_to event.name, picture_event_path(event.picture_id, event.id), :class => "btn-lg" %>
                </div><!-- event end -->
                <div class="blue btn">
                  <%= link_to "Rename", edit_picture_event_path(event.picture_id, event.id), :class => "btn" %> <br>
                </div><!-- blue end -->
                <div class="pink btn">
                  <%= link_to "Delete", picture_event_path(event.picture_id, event), :class => "btn", :id => "delete-test", :data => {:confirm => "Are you sure?",:method => "delete"}%>
                </div><br><!-- pink end -->
              </div><!-- flexbox-events  end -->
            </div><!-- flex-events container  end -->
          </div><!-- well end1 -->
        <% end %>
        <% else %>
          <h3>There are no events yet!</h3><br>
          <h2>How this works.</h2>
          <h4>1. While viewing the outfit on the home page. <%= link_to image_tag("btn-home-tut.png", :class => "home-button-tut"), pictures_path %></h4>
          <h4>2. Press the pin needle   <%= image_tag("btn-edit-tut.png", :alt => "edit", :class => "edit-button-tut") %></h4>
          <h4>3. Scroll down and press "Add Event". Give it a name and save it!</h4>
          <h4>4. Once your event is saved you can click on the event name to search for all outfits with the same event!</h4>
        <% end %>

    </div><!-- flex-block end -->
  </div><!-- flex-container end -->
</div><!-- col end -->
