<div class="col-xs-12">
  <div class="flex-container">
    <div class="flex-block">

      <% if @events.any? %>
        <% @events.each do |event| %>
            <h3 class="center">Events</h3>
          <div class="well">
            <div class="col-xs-6">
              <div class="btn event-text-larger">
                <%= link_to event.name, picture_event_path(event.picture_id, event.id), :class => "btn-lg" %>
              </div><!-- teal end -->
            </div>
            <div class="col-xs-3">
              <div class="blue btn2">
                <%= link_to "Rename", edit_picture_event_path(event.picture_id, event.id), :class => "btn" %> <br>
              </div><br><!-- blue end -->
            </div>
            <div class="col-xs-3">
              <div class="pink btn2 shift-up">
                <%= link_to "Delete", picture_event_path(event.picture_id, event.id), :class => "btn", :data => {:confirm => "Are you sure?",:method => "delete"}%>
              </div><br> <!-- pink end -->
            </div> <br><br>
          </div><!-- well end1 -->
        <% end %>
        <% else %>
            <div class="center grey"><br><br>
              <div class="tutorial"><br><br>
                <h3>There are no events yet!</h3>
                <h2>How this works!</h2> <br>
                <h4>1. While viewing the outfit on the home page. <%= link_to image_tag("btn-home-tut.png", :class => "home-button-tut"), pictures_path %></h4>
                <h4>2. Press the pin needle   <%= image_tag("btn-edit-tut.png", :alt => "edit", :class => "edit-button-tut") %></h4>
                <h4>3. Scroll down and press "Add Event". Give it a name and save it!</h4>
                <h4>4. Once your event is saved you can click on the event name to search for all outfits with the same event!</h4>
              </div>
            </div>
        <% end %>

    </div><!-- flex-block end -->
  </div><!-- flex-container end -->
</div><!-- col end -->
