<div class="col-sm-12">
<h3 class="center">Log in</h3>


  <div class="well">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name))remote: true do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, :class => "form-control input-lg", :placeholder => "Email", :value => "j@email.com" %>
      </div>
      <div class="field">
        <%= f.password_field :password, autocomplete: "off", :class => "form-control input-lg", :placeholder => "Password", :value => "password"   %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="field form-text-small">
          <%= f.check_box :remember_me, :class => "big-checkbox" %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <div class="actions center">
        <%= f.submit "Log in", :class => "btn-lg btn-primary" %>
      </div>
    <% end %>

    <div class="form-text-small">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
