
<div class="col-sm-12">
  <h3 class="center">New Outfit</h3>

    <div class="well">
      <%= form_for [@picture], authenticity_token: true, remote: true do |f| %>
      <div class="field">
        <%= f.text_field :title, :placeholder => 'Title', :class => 'form-control input-lg' %>
      </div>
      <div class="field">
      <%= f.text_field :description, :placeholder => 'Description', :class => 'form-control input-lg' %>
      </div>
      <div class="field">
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%# f.hidden_field :favorite, :value => "asf" %>
      </div>
      <div id="image" class="field form-text-small">
        <%= f.file_field :image, class: 'btn-image center-image-button' %>
      </div>
        <div class="field center">
        <%= f.submit "Save", :class => "btn-lg btn-primary"%>
      </div>
    <% end %>
  </div>
</div>
