<!-- # <% if picture.body %>
#   <li>Body: <%= picture.body %></li>
# <% end %>
# <% if picture.legs %>
#   <li>Legs: <%= picture.legs %></li>
# <% end %>
# <% if picture.feet %>
#   <li>Feet: <%= picture.feet %></li>
# <% end %>
# <% if picture.hands %>
#   <li>Hands: <%= picture.hands %></li>
# <% end %>
# <% if picture.head %>
#   <li>Head: <%= picture.head %></li>
# <% end %>
# <% if picture.extra %>
#   <li>Extra: <%= picture.extra %></li>
# <% end %> -->
