  <div class="col-sm-12">  <!-- may not need -->
    <h3 class="center"><%= current_user.username %> Closet</h3>
    <%# link_to "Favorites Toggle", pictures_path %>
  </div>

  <% if @pictures.any? %>
    <% @pictures.each do |picture| %>
    <div class="col-sm-12 col-md-6">
      <div class="well">

      <%= image_tag picture.image, :class => "image-size img-responsive round" %>

    <div id="block1">
      <span class="month"><%= picture.created_at.strftime("%b") %></span>
      <span class="day"><%= picture.created_at.strftime("%d") %></span>

      <div class="title"><%= picture.title %></div>
      <div class="description"><%= picture.description %></div>
    </div>

    <div id="block2 ">
      <%= link_to image_tag("btn-fav.png", :class => "btn marginL"), picture_path(picture) %>
      <%= link_to image_tag("btn-edit.png", :class => "btn marginL"), picture_path(picture) %>
    </div>

    <div id="block-bottom">
      <span class="time"><%= time_ago_in_words(picture.created_at) %> ago</span>
    </div>

 <button class="toggle btn">Details</button>

    <div id="details">

      <% if picture.body != "" %>
        <li>Body: <%= picture.body %></li>
      <% end %>
      <% if picture.legs != ""  %>
        <li>Legs: <%= picture.legs %></li>
      <% end %>
      <% if picture.feet != "" %>
        <li>Feet: <%= picture.feet %></li>
      <% end %>
      <% if picture.hands != "" %>
        <li>Hands: <%= picture.hands %></li>
      <% end %>
      <% if picture.head != "" %>
        <li>Head: <%= picture.head %></li>
      <% end %>
      <% if picture.extra != "" %>
        <li>Extra: <%= picture.extra %></li>
      <% end %>
    </div><!-- detail end -->
  </div><!-- well end -->
  </div><!-- col end -->
     <% end %>
       <% else %>
         <li>There are no pictures yet!</li>
      </div><!-- alt col end -->
  <% end %>
