
<h1>Add Outfit Details</h1>
<%= render "form-details" %>

<br>

<div class="well">
<li><%= image_tag @picture.image, :class => "image-size" %></li>
<li>Title: <%=link_to @picture.title, picture_path(@picture)  %></li>
<li>Description: <%= @picture.description %></li>
<li>Body: <%= @picture.body %></li>
<li>Legs: <%= @picture.legs %></li>
<li>Feet: <%= @picture.feet %></li>
<li>Hands: <%= @picture.hands %></li>
<li>Head: <%= @picture.head %></li>
<li>Extra: <%= @picture.extra %></li>

</div>


<hr><hr><hr>


Title: <%= @picture.title %><br>
Task Id: <%= @task_id %>


<% if @details%>
<%# @details['task']['data']['boxes'].to_a[0][0]%><br><br>

<% if @details['task']['data'] %>
  <% @test = @details['task']['data']['boxes'].map %><br><br>
  <%= @test.each do |k| %>
    <%= k.to_a[0] %><br>
  <% end %>
  <% else %>
  Fashion needs to be attached to analyze it
<% end %>
<% end %>

<hr>
<%= link_to "Task", :get_task => "Get_Task", :class => "btn" %>
<%= link_to "Analyze", :get_details => "AnalyzePhoto", :class => "btn" %>
<hr>
<h4>
<%= @details%><br>
</h4>
