

<div class="col-sm-12 col-md-6">
<div class="well">
  <h1>Add Outfit Details</h1>
  <%= render "form-details" %>
  <br>
</div><!-- well end -->

<div class="well">
<li><%# image_tag @picture.image, :class => "image-size img-responsive" %></li>
<li>Title: <%=link_to @picture.title, picture_path(@picture)  %></li>
<% if @picture.description != ""  %>
  <li>Description: <%= @picture.description %></li>
<% end %>
<% if @picture.body != ""  %>
  <li>Body: <%= @picture.body %></li>
<% end %>
<% if @picture.legs != ""  %>
  <li>Legs: <%= @picture.legs %></li>
<% end %>
<% if @picture.feet != ""  %>
  <li>Feet: <%= @picture.feet %></li>
<% end %>
<% if @picture.hands != ""  %>
  <li>Hands: <%= @picture.hands %></li>
<% end %>
<% if @picture.head != ""  %>
  <li>Head: <%= @picture.head %></li>
<% end %>
<% if @picture.extra != ""  %>
  <li>Extra: <%= @picture.extra %></li>
<% end %>
</div>
</div> <!-- col end -->
<hr>


Title: <%= @picture.title %><br>
Task Id: <%= @task_id %>


<% if @details%>
<%# @details['task']['data']['boxes'].to_a[0][0]%><br><br>

<% if @details['task']['data'] %>
  <% @test = @details['task']['data']['boxes'].map %><br><br>
  <%= @test.each do |k| %>
    <%= k.to_a[0] %><br>
  <% end %>
  <% else %>
  Fashion needs to be attached to analyze it
<% end %>
<% end %>

<hr>
<%= link_to "Task", :get_task => "Get_Task", :class => "btn" %>
<%= link_to "Analyze", :get_details => "AnalyzePhoto", :class => "btn" %>
<hr>
<h4>
<%= @details%><br>
</h4>
