<!DOCTYPE html>
<html>
  <head>
    <title>Clothing</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <%# image_tag("bg.jpg", :class => "bg img-responsive") %>
      <div class="container">

<div class="row">

<div class="col-sm-12">
    <nav class = "nav navbar-custom">
      <%= link_to image_tag("logo.png", :class => "logo shift-right"), root_path %>
      <% if current_user %>
        <%= link_to image_tag("menu2.png", :class => "pull-right"), :logout => "logout" %>
      <% else %>
        <%= link_to image_tag("menu2.png", :class => "pull-right"), :logout => "logout" %>
      <% end %>
</div> <!-- col end -->


<!-- LOGIN -->
<div class="col-sm-12">
  <div class="center grey">
          <%= flash[:notice] %>
  </div>

  <% if @showlogin === true %>
      <div class="nav login-text navbar-custom">
        <% if current_user %>
          <!-- <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> -->
          <span class="white"><%= current_user.username %></span> |
          <%= link_to "Logout", destroy_user_session_path, method: "delete" %>
        <% else %>
          <!-- <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> -->
          <%= link_to "Log-in", new_user_session_path %></a> |
          <%= link_to "Signup", new_user_registration_path %></a>
        <% end %>
      </div> <!-- login end -->
  <% end %>
      </nav>
</div> <!-- col end -->


<div class="col-sm-12">
</div>
      <%= yield %>
      <div class="col-sm-12">
          <div class="control-panel">
            <div class="notice"></div>
            <div class="img-responsive">
            <%= link_to image_tag("btn-home.png", :class => "btn"), root_path %>
            <%= link_to image_tag("btn-event.png", :class => "btn"), events_path %>
            <%= link_to image_tag("btn-photo.png", :class => "btn"), new_picture_path %>
            <%= link_to image_tag("btn-closet.png", :class => "btn"), pictures_path %>
            <%= link_to image_tag("btn-fav.png", :class => "btn"), favorite_index_path %>

          </div>
        </div><!-- control panel end -->
      </div> <!-- col end -->
      </div> <!-- row end -->
    </div><!-- container end -->
  </body>
</html>
