<!DOCTYPE html>
<html>
  <head>
    <title>Closets - Outfit Tracking</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>

  <div class="flex-container-big">
    <div class="flex-block-big">
      <div class="col-xs-12">
        <div class="center">
          <%= link_to image_tag("logo.png", :class => "logo"), root_path %>
        <% if current_user %>
          <%= link_to image_tag("menu2.png", :class => "pull-right"), :logout => "logout" %>
        <% else %>
          <%= link_to image_tag("menu2.png", :class => "pull-right"), :logout => "logout" %>
        <% end %>
            </div>
      </div>
    </div>
  </div>
    <!-- LOGIN -->
      <% if @showlogin === true %>
      <div class="menu">
        <% if current_user %>
        <%= link_to "Logout", destroy_user_session_path, method: "delete" %> |
        <%= link_to current_user.username, edit_user_registration_path %>
        <% else %>
        <%= link_to "Log-in", new_user_session_path %></a>
        <%= link_to "Signup", new_user_registration_path %></a>
        <% end %>
      </div> <!-- login end -->
      <% end %>




        <div class="center-notice grey">
          <%= flash[:notice] %>
        </div>
        <%= yield %>

          <div class="control-panel">
            <div class="notice"></div>
              <%= link_to image_tag("btn-home.png", :class => "home-button"), pictures_path %>
              <%= link_to image_tag("btn-event.png", :class => "event-button"), events_path %>
              <%= link_to image_tag("btn-photo.png", :id => "photo-button", :class => "btn photo-button"), new_picture_path %>
              <%= link_to image_tag("btn-search.png", :class => "search-button"), root_path %>
              <%= link_to image_tag("btn-fav.png", :class => "fav-button"), favorite_index_path %>
        </div><!-- control panel end -->

  </body>
</html>
