<!DOCTYPE html>
<html>
  <head>
    <title>Clothing</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>

    <div class="pull-left user-nav-text">
      <% if current_user %>
        <%= current_user.username %>
      <% end %>
    </div>

    <nav class = "navbar-custom">
      <%= link_to image_tag("logo.png", :class => "logo shift-right"), root_path %>
      <% if current_user %>
      <%= link_to image_tag("menu2.png", :class => "pull-right"), :logout => "logout" %>
      <% else %>
      <%= link_to image_tag("menu2.png", :class => "pull-right"), :logout => "logout" %>
      <% end %>

    <!-- LOGIN -->
      <% if @showlogin === true %>
      <div class="nav login-text shiftR navbar-custom">
        <% if current_user %>
        <span class="white"><%= current_user.username %></span> |
        <%= link_to "Logout", destroy_user_session_path, method: "delete" %> |
        <%= link_to "Settings", edit_user_registration_path %>
        <% else %>
        <%= link_to "Log-in", new_user_session_path %></a> |
        <%= link_to "Signup", new_user_registration_path %></a> |
        <%= link_to "Settings", edit_user_registration_path %>
        <% end %>
      </div> <!-- login end -->
      <% end %>
    </nav>
    
        <div class="center-notice grey">
          <%= flash[:notice] %>
        </div>
        <%= yield %>

          <div class="control-panel">
            <div class="notice"></div>
              <%= link_to image_tag("btn-home.png", :class => "home-button"), pictures_path %>
              <%= link_to image_tag("btn-event.png", :class => "event-button"), events_path %>
              <%= link_to image_tag("btn-photo.png", :id => "photo-button", :class => "btn photo-button"), new_picture_path %>
              <%= link_to image_tag("btn-search.png", :class => "search-button"), root_path %>
              <%= link_to image_tag("btn-fav.png", :class => "fav-button"), favorite_index_path %>
        </div><!-- control panel end -->

  </body>
</html>
